In [1]:
import pandas as pd
from io import StringIO # 문자열을 파일처럼 사용할 수 있도록 지원

In [2]:
csv_data = """A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
9.0,10.0,11.0,
"""
df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  9.0  10.0  11.0  NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       2 non-null      float64
 3   D       2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes

In [11]:
# df.isnull()
# df.isna()
# df.notnull()
# df.notna()
df.isnull().sum(axis=1) # axis=1 행 단위 na 갯수, axis=0 : 열 단위 na 갯수 (default)

0    0
1    1
2    1
dtype: int64

In [ ]:
# NaN 제거
# df.dropna() # NaN이 포함된 모든 행 제거 # == df.dropna(axis=0)
# df.dropna(axis=1) # NaN이 포함된 모든 열 제거
# df.dropna(how="all") # 모든 데이터가 NaN인 행 제거 (any or all)
# df.dropna(thresh=4) # NaN이 아닌 데이터가 4개 미만인 행 제거
# df.dropna(subset=['C']) # C 컬럼에 NaN이 포함된 행 제거

     A     B     C    D
0  1.0   2.0   3.0  4.0
2  9.0  10.0  11.0  NaN

In [ ]:
# !pip install scikit-learn

In [22]:
from sklearn.impute import SimpleImputer
import numpy as np

In [23]:

simr = SimpleImputer(missing_values=np.nan, 
                     strategy="constant", fill_value=100) # strategy : mean, most_frequent, median
simr = simr.fit(df) 
imputed_data = simr.transform(df.values) # 변환 (imputer에 지정된 변환)
imputed_data

c:\Users\human\.conda\envs\human-da-env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([[  1.,   2.,   3.,   4.],
       [  5.,   6., 100.,   8.],
       [  9.,  10.,  11., 100.]])

In [24]:
simr = SimpleImputer(missing_values=np.nan, 
                     strategy="mean") # strategy : mean, most_frequent, median
simr = simr.fit(df) 
imputed_data = simr.transform(df.values) # 변환 (imputer에 지정된 변환)
imputed_data

c:\Users\human\.conda\envs\human-da-env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11.,  6.]])

In [27]:
df_wine = pd.read_csv("data-files/winequality-white.csv", sep=";")
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [28]:
from sklearn.preprocessing import MinMaxScaler
X = df_wine.iloc[:, :-1].values # 마지막 열을 제외한 나머지 모든 데이터
mms = MinMaxScaler()
X2 = mms.fit_transform(X)
print(X[:5, :])
print("*" * 50)
print(X2[:5, :])

[[7.000e+00 2.700e-01 3.600e-01 2.070e+01 4.500e-02 4.500e+01 1.700e+02
  1.001e+00 3.000e+00 4.500e-01 8.800e+00]
 [6.300e+00 3.000e-01 3.400e-01 1.600e+00 4.900e-02 1.400e+01 1.320e+02
  9.940e-01 3.300e+00 4.900e-01 9.500e+00]
 [8.100e+00 2.800e-01 4.000e-01 6.900e+00 5.000e-02 3.000e+01 9.700e+01
  9.951e-01 3.260e+00 4.400e-01 1.010e+01]
 [7.200e+00 2.300e-01 3.200e-01 8.500e+00 5.800e-02 4.700e+01 1.860e+02
  9.956e-01 3.190e+00 4.000e-01 9.900e+00]
 [7.200e+00 2.300e-01 3.200e-01 8.500e+00 5.800e-02 4.700e+01 1.860e+02
  9.956e-01 3.190e+00 4.000e-01 9.900e+00]]
**************************************************
[[0.30769231 0.18627451 0.21686747 0.30828221 0.10682493 0.14982578
  0.37354988 0.26778485 0.25454545 0.26744186 0.12903226]
 [0.24038462 0.21568627 0.20481928 0.01533742 0.11869436 0.04181185
  0.28538283 0.13283208 0.52727273 0.31395349 0.24193548]
 [0.41346154 0.19607843 0.24096386 0.09662577 0.12166172 0.09756098
  0.20417633 0.15403894 0.49090909 0.25581395 0.33870968]
 [0.32692308 0.14705882 0.19277108 0.12116564 0.14540059 0.15679443
  0.41067285 0.16367843 0.42727273 0.20930233 0.30645161]
 [0.32692308 0.14705882 0.19277108 0.12116564 0.14540059 0.15679443
  0.41067285 0.16367843 0.42727273 0.20930233 0.30645161]]

In [32]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X2 = ss.fit_transform(X)
print(X[:, 1].mean(), X[:, 2].mean())
print(X[:, 1].std(), X[:, 2].std(), )
print("*" * 50)
print(X2[:, 1].mean(), X2[:, 2].mean())
print(X2[:, 1].std(), X2[:, 2].std(), )

0.27824111882400976 0.33419150673744386
0.10078425854188974 0.12100744957029214
**************************************************
4.49710592253228e-16 1.160543463879298e-17
0.9999999999999999 1.0