In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
potato_df = pd.read_csv('data-files/potato.csv')
potato_df

        무게
0   122.02
1   131.73
2   130.60
3   131.82
4   132.05
5   126.12
6   124.43
7   132.89
8   122.79
9   129.95
10  126.14
11  134.45
12  127.64
13  125.68

In [3]:
potato_df['무게'].mean()

np.float64(128.4507142857143)

In [4]:
# 전국에서 올해 수확된 감자의 평균 무게 130일때 
# 위에서 수확한 감자는 품질이 평균 이하인가?

In [5]:
stats.ttest_1samp(potato_df['무게'], 130)

TtestResult(statistic=np.float64(-1.4551960206404198), pvalue=np.float64(0.16933464230414275), df=np.int64(13))

In [8]:
training_rel_df = pd.read_csv('data-files/training_rel.csv')
training_rel_df.head(3)

    전   후
0  59  41
1  52  63
2  55  68

In [10]:
print( training_rel_df.mean() )
(training_rel_df['전'] - training_rel_df['후']).mean()

전    52.85
후    58.25
dtype: float64

np.float64(-5.4)

In [12]:
print( stats.ttest_ind(training_rel_df['전'], training_rel_df['후']) ) # 두집단의 두데이터 비교
print( stats.ttest_rel(training_rel_df['전'], training_rel_df['후']) ) # 한집단의 두데이터 비교

TtestResult(statistic=np.float64(-1.8997443074539122), pvalue=np.float64(0.0650756655596349), df=np.float64(38.0))
TtestResult(statistic=np.float64(-2.204154108716127), pvalue=np.float64(0.04004419061842953), df=np.int64(19))