In [2]:
# 패키지 설치
# !pip install yfinance

In [1]:
import yfinance as yf

In [2]:
# stock = yf.Ticker("GOOG") # 주가 조회 도구
# stock = yf.Ticker("MSFT") # 주가 조회 도구
# stock = yf.Ticker("AAPL") # 주가 조회 도구
# stock = yf.Ticker("TSLA") # 주가 조회 도구
# stock = yf.Ticker("NVDA") # 주가 조회 도구
stock = yf.Ticker("005930.KS") # 주가 조회 도구

stock.history().head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-18 00:00:00+09:00,57000.0,57500.0,55900.0,56700.0,48095234,0.0,0.0
2024-11-19 00:00:00+09:00,56500.0,57500.0,55900.0,56300.0,31539632,0.0,0.0
2024-11-20 00:00:00+09:00,56100.0,56500.0,54800.0,55300.0,20864667,0.0,0.0
2024-11-21 00:00:00+09:00,54900.0,56900.0,54700.0,56400.0,19096850,0.0,0.0
2024-11-22 00:00:00+09:00,56000.0,56700.0,55900.0,56000.0,15281543,0.0,0.0

In [11]:
stock = yf.Ticker("005930.KS")

# quotes = stock.history(start="2024-01-01", end="2024-12-16")
quotes = stock.history(start="2000-01-01", end="2024-12-31")
print( quotes.head(2) )
print( quotes.tail(2) )

                                  Open         High          Low        Close  \
Date
2000-01-04 00:00:00+09:00  4325.925736  4405.234375  4080.789945  4405.234375
2000-01-05 00:00:00+09:00  4181.728621  4369.185421  3979.852067  4023.111328

                             Volume  Dividends  Stock Splits
Date
2000-01-04 00:00:00+09:00  74195000        0.0           0.0
2000-01-05 00:00:00+09:00  74680000        0.0           0.0
                              Open     High      Low    Close    Volume  \
Date
2024-12-16 00:00:00+09:00  56300.0  56600.0  55200.0  55600.0  15277277
2024-12-17 00:00:00+09:00  54700.0  55200.0  54500.0  54600.0   6536557

                           Dividends  Stock Splits
Date
2024-12-16 00:00:00+09:00        0.0           0.0
2024-12-17 00:00:00+09:00        0.0           0.0