In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.55-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (2.2.4)
Requirement already satisfied: requests>=2.31 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (2025.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ------ --------------------------------- 0.5/3.0 MB 2.8 MB/s eta 0:00:01
     -------------------- ------------------- 1.6/3.0 MB 4.0 MB/s eta 0:00:01
     ------------------------------- -------- 2.4/3.0 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 4.0 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from yfinance) (4.13.3)
Requirement already satisfied: soupsieve>1.2 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from requests>=2.31->yfinance) (2025.1.31)
Requirement already satisfied: six>=1.5 in d:\apps\miniconda3\envs\python-env-31111\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Downloading yfinance-0.2.55-py2.py3-none-any.whl (109 kB)
Downloading frozendict-2.4.6-py311-none-any.whl (16 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.9-py3-none-any.whl size=139127 sha256=63b0a07e6449f7f5dca38394897b690d71d1172921ae9fae8d7b2627aaab4259
  Stored in directory: c:\users\ohchi\appdata\local\pip\cache\wheels\f4\14\e4\50c88c865833085aeb91e2bd40e3a683ff434806386b8ee7bc
Successfully built peewee
Installing collected packages: peewee, multitasking, frozendict, yfinance
Successfully installed frozendict multitasking peewee yfinance

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
code = "005930"
ticker = yf.Ticker(f'{code}.KS')

quotes = ticker.history(period="max", interval="1d")

In [3]:
quotes.head()
quotes = quotes.reset_index()
quotes['Date'] = pd.to_datetime(quotes['Date'])
quotes['Code'] = code
quotes = quotes[['Code', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
quotes.head()

,Code,Date,Open,High,Low,Close,Volume
0,005930,2000-01-04 00:00:00+09:00,4296.630300,4375.401855,4053.154583,4375.401855,74195000
1,005930,2000-01-05 00:00:00+09:00,4153.408308,4339.595577,3952.898942,3995.865234,74680000
2,005930,2000-01-06 00:00:00+09:00,4117.601659,4139.084798,3995.863871,4024.508057,54390000
3,005930,2000-01-07 00:00:00+09:00,3981.543045,4060.314580,3838.322072,3967.220947,40305000
4,005930,2000-01-10 00:00:00+09:00,4010.187933,4131.925781,3995.865834,4131.925781,46880000

In [6]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6323 entries, 2000-01-04 00:00:00+09:00 to 2025-04-04 00:00:00+09:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          6323 non-null   float64
 1   High          6323 non-null   float64
 2   Low           6323 non-null   float64
 3   Close         6323 non-null   float64
 4   Volume        6323 non-null   int64
 5   Dividends     6323 non-null   float64
 6   Stock Splits  6323 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 395.2 KB

In [7]:
quotes.reset_index().to_csv(f'{code}.csv', index=False)

In [5]:
import pymysql

In [6]:
conn = pymysql.connect(
    host='localhost',
    user='developer',
    password='developer',
    db='demoweb'
)

try:
    with conn.cursor() as cursor:
        sql = "insert into stock_data (code, date, open, high, low, close, volume) values (%s, %s, %s, %s, %s, %s, %s)"
        cursor.executemany(sql, quotes.values.tolist())
        conn.commit()
finally:
    cursor.close()
    conn.close()