In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.55-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (2024.2)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-py312-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 15.5 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.12.14)
Requirement already satisfied: six>=1.5 in /Volumes/M2DATA/apps/miniforge3/envs/python-env-31208/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Downloading yfinance-0.2.55-py2.py3-none-any.whl (109 kB)
Downloading frozendict-2.4.6-py312-none-any.whl (16 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.9-cp312-cp312-macosx_11_0_arm64.whl size=272214 sha256=ffcbf38897deddffff2aaf7f5a237b027cded0e5f15d125519d38433de200cac
  Stored in directory: /Users/chihoonoh/Library/Caches/pip/wheels/43/ef/2d/2c51d496bf084945ffdf838b4cc8767b8ba1cc20eb41588831
Successfully built peewee
Installing collected packages: peewee, multitasking, frozendict, yfinance
Successfully installed frozendict-2.4.6 multitasking-0.0.11 peewee-3.17.9 yfinance-0.2.55

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
code = "005930"
ticker = yf.Ticker(f'{code}.KS')

quotes = ticker.history(period="max", interval="1d")

In [5]:
quotes.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-04 00:00:00+09:00,4296.628861,4375.400391,4053.153226,4375.400391,74195000,0.0,0.0
2000-01-05 00:00:00+09:00,4153.407293,4339.594517,3952.897975,3995.864258,74680000,0.0,0.0
2000-01-06 00:00:00+09:00,4117.603158,4139.086305,3995.865326,4024.509521,54390000,0.0,0.0
2000-01-07 00:00:00+09:00,3981.541819,4060.313330,3838.320891,3967.219727,40305000,0.0,0.0
2000-01-10 00:00:00+09:00,4010.187933,4131.925781,3995.865834,4131.925781,46880000,0.0,0.0

In [6]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6323 entries, 2000-01-04 00:00:00+09:00 to 2025-04-04 00:00:00+09:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          6323 non-null   float64
 1   High          6323 non-null   float64
 2   Low           6323 non-null   float64
 3   Close         6323 non-null   float64
 4   Volume        6323 non-null   int64
 5   Dividends     6323 non-null   float64
 6   Stock Splits  6323 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 395.2 KB

In [7]:
quotes.reset_index().to_csv(f'{code}.csv', index=False)